# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [5]:
from xml.etree import ElementTree as ET

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

In [6]:
document_tree = ET.parse( './data/mondial_database_less.xml' )

In [7]:
# print names of all countries
for child in document_tree.getroot():
    print(child.find('name').text)

Albania
Greece
Macedonia
Serbia
Montenegro
Kosovo
Andorra

In [11]:
# print names of all countries and their cities
for element in document_tree.iterfind('country'):
    print('* ' + element.find('name').text + ':',)
    capitals_string = ''
    for subelement in element.getiterator('city'):
        capitals_string += subelement.find('name').text + ', '
    print(capitals_string[:-2])

* Albania:
Tirana, Shkodër, Durrës, Vlorë, Elbasan, Korçë
* Greece:
Komotini, Kavala, Athina, Peiraias, Peristeri, Acharnes, Patra, Kozani, Kerkyra, Ioannina, Thessaloniki, Iraklio, Chania, Ermoupoli, Rhodes, Tripoli, Lamia, Chalkida, Larissa, Volos, Mytilini, Karyes
* Macedonia:
Skopje, Kumanovo
* Serbia:
Beograd, Novi Sad, Niš
* Montenegro:
Podgorica
* Kosovo:
Prishtine
* Andorra:
Andorra la Vella

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [1]:
import pandas as pd
from xml.etree import ElementTree as ET

In [2]:
document = ET.parse( './data/mondial_database.xml' )

In [3]:
root = document.getroot()

In [4]:
# Part 1:
im = pd.DataFrame()
for element in document.iterfind('country'):
    cname = element.find('name')
    infmort = element.find('infant_mortality')
    if infmort != None:
        di={'country' : [cname.text], 'infant_mortality' : [float(infmort.text)]}
        im = im.append(pd.DataFrame(di),ignore_index = True)
    else:
        di={'country' : [cname.text], 'infant_mortality' : 'NaN'}
        im = im.append(pd.DataFrame(di),ignore_index = True)

im.head()

      country infant_mortality
0     Albania            13.19
1      Greece             4.78
2   Macedonia              7.9
3      Serbia             6.16
4  Montenegro              NaN

In [5]:
im[im.infant_mortality != 'NaN'].sort_values('infant_mortality').head(10).reset_index(drop=True)

          country infant_mortality
0          Monaco             1.81
1           Japan             2.13
2         Bermuda             2.48
3          Norway             2.48
4       Singapore             2.53
5          Sweden              2.6
6  Czech Republic             2.63
7       Hong Kong             2.73
8           Macao             3.13
9         Iceland             3.15

In [6]:
# Part 2:
pop = pd.DataFrame()
for element in document.iterfind('country'):
    
    for subelement in element.getiterator('city'):
        
        cname = subelement.find('name')
        subpop = subelement.findall('population')
        if not subpop:
            di={'city' : [cname.text], 'population' : 'NaN'}
            pop = pop.append(pd.DataFrame(di),ignore_index = True)
        else:
            if len(subpop) == 0:
                cpop = subpop
            else:
                cpop = subpop[-1]
            di={'city' : [cname.text], 'population' : [int(cpop.text)]}
            pop = pop.append(pd.DataFrame(di),ignore_index = True)
            
pop.head()

      city population
0   Tirana     418495
1  Shkodër      77075
2   Durrës     113249
3    Vlorë      79513
4  Elbasan      78703

In [8]:
pop[pop.population != 'NaN'].sort_values('population',ascending=False).head(10).reset_index(drop=True)

        city population
0   Shanghai   22315474
1   Istanbul   13710512
2     Mumbai   12442373
3     Moskva   11979529
4    Beijing   11716620
5  São Paulo   11152344
6    Tianjin   11090314
7  Guangzhou   11071424
8      Delhi   11034555
9   Shenzhen   10358381

In [9]:
#Part 3
eth = pd.DataFrame()
for element in document.iterfind('country'):
    cname = element.find('name')
    # Find latest country population number
    ctpop = float(element.findall('population')[-1].text)
    # Loop through all ethnic groups in the country
    for sub in element.findall('ethnicgroup'):
        ethpop = ctpop*float(sub.attrib['percentage'])/100.
        di = {'ethnicity': [sub.text], 'population' : [ethpop]}
        eth = eth.append(pd.DataFrame(di),ignore_index = True)

eth = eth.fillna(0.0)
eth.head()

    ethnicity    population
0    Albanian  2.660131e+06
1       Greek  8.400414e+04
2       Greek  1.005915e+07
3  Macedonian  1.322388e+06
4    Albanian  5.190681e+05

In [10]:
totsum = eth.groupby('ethnicity').sum()
totsum.sort_values('population',ascending=False).head(10)

               population
ethnicity
Han Chinese  1.245059e+09
Indo-Aryan   8.718156e+08
European     4.948722e+08
African      3.183251e+08
Dravidian    3.027137e+08
Mestizo      1.577344e+08
Bengali      1.467769e+08
Russian      1.318570e+08
Japanese     1.265342e+08
Malay        1.219936e+08

In [11]:
# Part 4a:
riv = pd.DataFrame()
for element in document.iterfind('river'):
    rname = element.find('name')
    rloca = element.attrib['country']
    rlength = element.find('length')
#     print(rname.text,rlength.text)
    if rlength != None:
        di = {'river_name': [rname.text], 'river_length' : [float(rlength.text)], 'river_country' : [rloca]}
        riv = riv.append(pd.DataFrame(di),ignore_index = True)
riv.head()

  river_country  river_length           river_name
0            IS         230.0              Thjorsa
1            IS         206.0  Joekulsa a Fjoellum
2             N         604.0               Glomma
3             N         322.0                Lagen
4             S          93.0            Goetaaelv

In [12]:
riv.sort_values('river_length',ascending = False).head(1)

    river_country  river_length river_name
174      CO BR PE        6448.0   Amazonas

In [13]:
# Part 4b:
lak = pd.DataFrame()
for element in document.iterfind('lake'):
    lname = element.find('name')
    lloca = element.attrib['country']
    larea = element.find('area')
#     print(lname.text,larea.text)
    if larea != None:
        di = {'lake_name': [lname.text], 'lake_area' : [float(larea.text)], 'lake_country' : [lloca]}
        lak = lak.append(pd.DataFrame(di),ignore_index = True)
lak.head()

   lake_area lake_country   lake_name
0     1040.0           SF       Inari
1      928.0           SF  Oulujaervi
2      472.0           SF   Kallavesi
3     4370.0           SF      Saimaa
4     1118.0           SF  Paeijaenne

In [14]:
lak.sort_values('lake_area',ascending = False).head(1)

    lake_area    lake_country    lake_name
54   386400.0  R AZ KAZ IR TM  Caspian Sea

In [18]:
# Part 4c:
air = pd.DataFrame()
for element in document.iterfind('airport'):
    aname = element.find('name')
    aloca = element.attrib['country']
    aelev = element.find('elevation')
    if aelev.text != None:
        di = {'airport_name': [aname.text], 'airport_elevation' : [float(aelev.text)], 'airport_country' : [aloca]}
        air = air.append(pd.DataFrame(di),ignore_index = True)
air.head()

  airport_country  airport_elevation          airport_name
0             AFG              977.0                 Herat
1             AFG             1792.0            Kabul Intl
2              AL               38.0          Tirana Rinas
3              DZ              811.0  Cheikh Larbi Tebessi
4              DZ              822.0         Batna Airport

In [16]:
air.sort_values('airport_elevation',ascending = False).head(1)

   airport_country  airport_elevation  airport_name
80             BOL             4063.0  El Alto Intl